.down{
  margin-top: 80px;
}

.txtURL{
  font-size: 30px;
}

.anim
  {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .anim .ring{
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: animate 2.5s linear infinite;
  }
  @keyframes animate
  {
      0%
      {
          transform: rotate(0deg);
      }
      100%
      {
          transform: rotate(360deg);
      }
  }

  .anim .ring::before{
      content: '';
      position: absolute;
      right: 12px;
      top: 12px;
      width: 15px;
      border-radius: 50px;
      height: 15px;
      background: #24ecff;
      box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22,0 0 0 20px #24ecff11;
    }

  .anim .ring:nth-child(3){
    animation: animate2 2.5s linear infinite;
    animation-delay: -2s;
      position: absolute;
      top: -66.66px;
      border-top: solid transparent;
      border-left: 4px solid #e41cf8;
  }

  .anim .ring:nth-child(3)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    right: 12px;
    width: 15px;
    border-radius: 50px;
    height: 15px;
    background: #e41cf8;
    box-shadow: 0 0 0 5px #e41cf833, 0 0 0 10px #e41cf822;
  }

  .anim .ring:nth-child(2){
    animation: animate2 2.5s linear infinite;
    animation-delay: -1s;
    border-top: solid transparent;
    border-left: 4px solid #63ff2d;
}
.anim .ring:nth-child(2)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    width: 15px;
    border-radius: 50px;
    height: 15px;
    background: #63ff2d;
    box-shadow: 0 0 0 5px #63ff2d33, 0 0 0 10px #63ff2d22,0 0 0 20px #63ff2d11;

  }
@keyframes animate2
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}